:root{
    --var-color1: #18242b;
    --var-color2: #fafafa;
    --var-color3: #ff80f4;
    --var-color4:#9e859c;
}

.header {
    border: 3px solid var(--var-color3);
    background-image: linear-gradient(to top, #18242b, #ff80f4);
    color: var(--var-color2);
    text-align: center;
    padding: 1rem;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.flex-item {
    flex: 1;
    border: 1px solid #ddd;
    padding: 1rem;
    min-width: 265px;
    border: 3px solid var(--var-color3);
    padding: 1rem;
    background-color: transparent;
    color: var(--var-color2);
    border-radius: 1rem;
}

.footer {
    background-color: #3335;
    color: #FFF;
    text-align: centers;
    padding: 1rem;
}
img{
    width: 100%;
    opacity: 0.8;
    border-radius: 1rem;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
html{
    background-image: url(4be003359f1524807bf77fea928801ac.jpg) ;
}