:root{
    --var-color1: #18242b;
    --var-color2: #fafafa;
    --var-color3: #960606;
    --var-color4:#e6b575;
}

.header {
    border: 3px solid var(--var-color1);
    background-color: var(--var-color3);
    color: var(--var-color2);
    text-align: center;
    padding: 1rem;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.flex-item {
    flex: 1;
    border: 1px solid #ddd;
    padding: 1rem;
    min-width: 265px;
    border: 3px solid var(--var-color1);
    padding: 1rem;
    background-color: transparent;
    color: var(--var-color3);
    border-radius: 1rem;
}

.footer {
    background-color: #3335;
    color: #FFF;
    text-align: centers;
    padding: 1rem;
}
#gentegrande2{
    width: 88%;
    opacity: 0.8;
    border-radius: 1rem;
}
#babayaga{
    width: 82%;
    opacity: 0.8;
    border-radius: 1rem;
}
#uncharted{
    width: 100%;
    opacity: 0.8;
    border-radius: 1rem;
}

.footer {
    border: 3px solid black;
    background-color: var(--var-color3);
    color: #fff;
    text-align: center;
    padding: 1rem;
}
html{
    background-color: var(--var-color4);
}